<p id="notice"><%= notice %></p>

<h1>Listing Spots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attraction</th>
      <th>Details</th>
      <th>Address</th>
      <th>Travel instruction</th>
      <th>Image</th>
      <th>Hotel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.attraction %></td>
        <td><%= spot.details %></td>
        <td><%= spot.address %></td>
        <td><%= spot.travel_instruction %></td>
        <td><%= spot.image %></td>
        <td><%= spot.hotel %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spot', new_tourist_spot_spot_path %>
