<p id="notice"><%= notice %></p>

<h1>Listing Local Businesses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_businesses.each do |local_business| %>
      <tr>
        <td><%= link_to 'Show', local_business %></td>
        <td><%= link_to 'Edit', edit_local_business_path(local_business) %></td>
        <td><%= link_to 'Destroy', local_business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local business', new_local_business_path %>
